# Basic settings
Options +Indexes +FollowSymLinks
Order Allow,Deny
Allow from all

# Enable rewrite engine
RewriteEngine On
RewriteBase /BUNDI-AND-LADU/A-AND-Y-WEB-APPLICATION/public/

# Allow direct access to files
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Route everything else to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]